|  STATUS   | ELAPSED  |                  PACKAGE                  | COVER | PASS | FAIL | SKIP |
|-----------|----------|-------------------------------------------|-------|------|------|------|
| 🟢 PASS   | (cached) | github.com/almahoozi/go-eventbus/eventbus | 47.5% |  18  |  0   |  0   |
| 🟡 NOTEST |  0.00s   | github.com/almahoozi/go-eventbus/pkg/id   |  --   |  --  |  --  |  --  |
|           |          | [no test files]                           |       |      |      |      |
| 🟡 NOTEST |  0.00s   | github.com/almahoozi/go-eventbus/pkg/log  |  --   |  --  |  --  |  --  |
|           |          | [no test files]                           |       |      |      |      |

